@import '~semantic-ui-sass/semantic-ui.scss'

body
  padding: 0
  background-color: #eee

#menu-topperson
  border-radius: 0 !important

#content-wrapper
  padding: 8px

.loggables-hierarchy-item
  margin-bottom:: 4px
  font-size: 12px

  .loggables-hierarchy-item
    padding-right: 0
    margin-left: 16px

  .loggables-hierarchy-item-name
    padding: 0 4px
    border-radius: 3px
    margin-bottom: 4px

    .loggables-hierarchy-item-actions
      opacity: 0
      float: right

    &:hover
      .loggables-hierarchy-item-actions
        opacity: 1

        i
          cursor: pointer

.logs-timeline
  position: relative

  .logs-timeline-ruler
    .logs-timeline-ruler-element
      border-bottom: thin #ddd solid
      font-size: 9px
      line-height: 15px

  .logs-timeline-item
    position: absolute
    margin-left: 30px

    &.logs-timeline-item-event
      width: 90%
      text-align: right

    &.logs-timeline-item-time-block
      width: 50%
      opacity: 0.6
      padding-left: 4px
      border-radius: 4px

    &:hover
      opacity: 1

.logs-timeline-item-menu
  position: absolute
  top: 0
  z-index: 999
