@import '~semantic-ui-sass/semantic-ui.scss'

body
  padding: 0
  background-color: #eee

.hidden
  display: none

.inline
  display: inline

.action
  cursor: pointer

.vdp-datepicker__calendar-button span i span
  display: none
  font-size: 0

html, body, #fedeaux-org-app, #content-wrapper, #content-wrapper .dashboard-item-wrapper
  height: 100%

.dashboard-item-wrapper
  height: 100% !important
  overflow-y: scroll

#menu-topperson
  border-radius: 0 !important

#content-wrapper
  padding: 62px 8px 0 8px
  height: 100%
  margin-bottom: 0

.loggables-hierarchy-item
  margin-bottom:: 4px
  font-size: 12px

  .loggables-hierarchy-item
    padding-right: 0
    margin-left: 16px

  .loggables-hierarchy-item-name
    padding: 0 4px
    border-radius: 3px
    margin-bottom: 4px

    .loggables-hierarchy-item-actions
      opacity: 0
      float: right

    &:hover
      .loggables-hierarchy-item-actions
        opacity: 1

        i
          cursor: pointer

.logs-timeline
  position: relative

  .logs-timeline-ruler
    .logs-timeline-ruler-element
      border-bottom: thin #ddd solid
      font-size: 9px
      line-height: 15px

  .logs-timeline-item
    position: absolute
    margin-left: 30px

    &.logs-timeline-item-event
      width: 90%
      text-align: right

    &.logs-timeline-item-time-block
      width: 50%
      opacity: 0.6
      padding-left: 4px
      border-radius: 4px

    &:hover
      opacity: 1

.logs-timeline-item-menu
  position: absolute
  top: 0
  z-index: 999

.logs-list-item
  position: relative

.logs-list-item-title
  font-size: 0.82em
  font-weight: bold

.log-timespan
  opacity: 0.7
  font-size: 0.82em

.dashboard-item-header
  margin-bottom: 1em

  .dashboard-item-header-title
    position: relative

    .dashboard-item-header-actions
      opacity: 0
      font-size: 0.5em
      position: absolute
      top: 4px
      right: 4px

    &:hover
      .dashboard-item-header-actions
        opacity: 1
